services:
  redis:
    image: redis:alpine
    container_name: hive-redis
    ports:
      - "${REDIS_PORT}:${REDIS_PORT}"
    restart: always

  book-metadata:
    build:
      context: .
      dockerfile: ./services/book-metadata/Dockerfile
    container_name: book-metadata
    ports:
      - "${BOOK_METADATA_PORT}:${BOOK_METADATA_PORT}"
    environment:
      - PORT=${BOOK_METADATA_PORT}
      - GOOGLE_BOOKS_API_URL=${GOOGLE_BOOKS_API_URL}
      - GOOGLE_BOOKS_API_KEY=${GOOGLE_BOOKS_API_KEY}
      - NYT_API_URL=${NYT_API_URL}
      - NYT_API_KEY=${NYT_API_KEY}
      - REDIS_URL=${REDIS_URL}
      - CACHE_TTL_THUMBNAIL_MIN=${CACHE_TTL_THUMBNAIL_MIN}
      - LOGS_PROXY_IMAGE=${LOGS_PROXY_IMAGE}
    depends_on:
      - redis

  user-data:
    build:
      context: .
      dockerfile: ./services/user-data/Dockerfile
    container_name: user-data
    ports:
      - "${USER_DATA_PORT}:${USER_DATA_PORT}"
    environment:
      - PORT=${USER_DATA_PORT}
      - DB_PATH=${USER_DB_PATH}
      - ACCESS_JWT_SECRET=${ACCESS_JWT_SECRET}
    volumes:
      - ./services/user-data/data:/usr/src/app/data

  item-data:
    build:
      context: .
      dockerfile: ./services/item-data/Dockerfile
    container_name: item-data
    ports:
      - "${ITEM_DATA_PORT}:${ITEM_DATA_PORT}"
    environment:
      - PORT=${ITEM_DATA_PORT}
      - DB_PATH=${ITEM_DB_PATH}
    volumes:
      - ./services/item-data/data:/usr/src/app/data

  follower:
    build:
      context: .
      dockerfile: ./services/follower/Dockerfile
    container_name: follower
    ports:
      - "${FOLLOWER_PORT}:${FOLLOWER_PORT}"
    environment:
      - PORT=${FOLLOWER_PORT}
      - ITEM_DATA_URL=${ITEM_DATA_URL}
      - BOOK_METADATA_URL=${BOOK_METADATA_URL}
      - REDIS_URL=${REDIS_URL}
      - CACHE_TTL_AUTHOR_MIN=${CACHE_TTL_AUTHOR_MIN}
      - CACHE_TTL_USER_AUTHORS_MIN=${CACHE_TTL_USER_AUTHORS_MIN}

  recommendation:
    build:
      context: .
      dockerfile: ./services/recommendation/Dockerfile
    container_name: recommendation
    ports:
      - "${RECOMMENDATION_PORT}:${RECOMMENDATION_PORT}"
    environment:
      - PORT=${RECOMMENDATION_PORT}
      - ITEM_DATA_URL=${ITEM_DATA_URL}
      - BOOK_METADATA_URL=${BOOK_METADATA_URL}
      - REDIS_URL=${REDIS_URL}
      - CACHE_TTL_RECOMMENDATION_MIN=${CACHE_TTL_RECOMMENDATION_MIN}

  orchestrator:
    build:
      context: .
      dockerfile: ./services/orchestrator/Dockerfile
    container_name: orchestrator
    ports:
      - "${ORCHESTRATOR_PORT}:${ORCHESTRATOR_PORT}"
    volumes:
      - ./client:/usr/src/app/client
    environment:
      - PORT=${ORCHESTRATOR_PORT}
      - USER_DATA_URL=${USER_DATA_URL}
      - ITEM_DATA_URL=${ITEM_DATA_URL}
      - BOOK_METADATA_URL=${BOOK_METADATA_URL}
      - FOLLOWER_URL=${FOLLOWER_URL}
      - RECOMMENDATION_URL=${RECOMMENDATION_URL}
      - ACCESS_JWT_SECRET=${ACCESS_JWT_SECRET}
      - LOGS_PROXY_IMAGE=${LOGS_PROXY_IMAGE}
    depends_on:
      - user-data
      - item-data
      - book-metadata
      - recommendation
      - follower
